@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Space Mono", monospace;
}

body{
    display: flex;
    flex-direction: column;
    padding: 24px;
    min-height: 100vh;
}


header, footer {
  height: 25px;
}

main{
    flex-grow: 1;
}





.header__title {
  font-family: Inconsolata;
  font-style: normal;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 25px;
  letter-spacing: -0.08em;
  text-transform: uppercase;
}



.hero {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.main__hero{
  width: 286px;
}

.title {
  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 71px;
  letter-spacing: -0.035em;
}

.description {
  margin-top: 30px;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.035em;
}


button {
  margin-top: 66px;
  padding: 23px 43px;
  border: none;
  background-color: #333;
  font-family: "Space Mono", monospace;
}

.button__link {
  color: white;
  text-decoration: none;

  font-weight: bold;
  font-size: 1.4rem;

  line-height: 21px;
  letter-spacing: -0.035em;
  text-transform: uppercase;
}

footer {
  text-align: center;
  margin-top: 114px;

  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.footer__text{

    display: inline-block;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.7rem;

    color: #bdbdbd;
}

.footer__text--special{
    font-weight: bold;
    text-decoration: underline;
}

@media (min-width: 1440px) {
  .hero {
    display: inline-block;
  }

  main {
    display: flex;
    margin-top: 64px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .content {
    width: 586px;
  }

  .main__hero{
    width: 540px;
  }
}

